body {
    background: black;
    color: white;
}

#imagebox {
    width: 500px;
    height: 500px;
    line-height: 500px;
    text-align: center;
    font-size: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#word1 {
    font-size: 30px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(250px, -310px);
}

#word2 {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-250px, -310px);
}